.courses-sec .loader {
    /* background-color: aqua; */
    border: 10px solid whitesmoke;
    border-top-color: #34db55;
    border-bottom-color: red;
    border-left-color: yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.courses-auth-alert {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    background-color: black;

    animation: slide-in-bottom 1.5s ease-in-out;
}

@keyframes slide-in-bottom {
    0% {
        transform: translate(0, 100%);
    }

    100% {}
}

.courses-auth-alert p {
    letter-spacing: 1px;
    font-size: 18px;
}

.courses-auth-alert a {
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
}

.courses-sec {
    padding-top: 100px;
}

.courses-sec .heading {
    font-size: 35px;
    letter-spacing: 2px;
    font-family: 'ADLaM Display', cursive;
    text-transform: uppercase;
    text-align: center;
}

.courses-sec .courses-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin: 0;
}

.courses-sec .course {
    display: flex;
    flex-direction: column;

    max-width: 450px;
    margin: 20px;
    border-radius: 10px;

    background-color: black;
    border: .25px solid black;
    transition: transform 250ms ease-in-out;

    font-family: 'Roboto', sans-serif;
}

.courses-sec .course:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.course img {
    height: 250px;
    width: 450px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.course .wrapper {
    margin: 20px;
    text-align: left;
}

.course .title-price-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .title {
    display: inline-block;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
}

.course .price {
    font-size: 20px;
    letter-spacing: 1px;
}

.course .level .tag {
    width: 15px;
}

.course .level {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    margin: 15px 0;
    border-radius: 10px;

    padding: 5px 10px;
    background-color:#2bff006b;
}

.course .instructor {
    margin: 0;
}

.course .status {
    margin: 0;
}